<!-- landing/templates/homepage.html -->
{% extends "base.html" %}

{% block title %} Home - Chemdome {% endblock %}

{% block content %}
    {% load static %} 
    <img src="{% static 'img/logo.png' %}" alt="ChemDome Logo" class="logo">
    <h1>Welcome to ChemDome: Your Cheminformatics Hub!</h1>
    <p>Choose a tool from our suite to witness the magic of our website.</p>

    <div class="dropdown-container">
        <select id="app-selector" class="dropdown" onchange="navigateToApp()">
            <option value="">Select an Application</option>
            <option value="{% url 'pca_calculate' %}">Applicability Domain based on PCA</option>
            <option value="{% url 'domain_calculate' %}">Applicability Domain based on Leverage</option>
            <option value="{% url 'calculate_sali' %}">SALI</option>
        </select>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function navigateToApp() {
            const selectedUrl = document.getElementById('app-selector').value;
            if (selectedUrl) {
                window.location.href = selectedUrl;
            }
        }
    </script>
{% endblock %}
